<app-navbar></app-navbar>
<h1 class="center" *ngIf="pets.length==0" >You haven't registered any animals yet!</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10px 50px 10px 50px;">
  <div class="col" *ngFor="let pet of pets">
    <div class="card" >
      <h3 class="card-title" *ngIf="(pet.picturePath.length===0)" style="height: 300px; margin-left: auto; margin-right: auto;">No picture for this pet</h3>
      <div class="bg-image hover-zoom imgRestrict">
        <img *ngIf="(pet.picturePath.length!=0)"
          [src]="pet.picturePath"
          class="card-img-top"
          alt="..."
             type="button" (click)="allPic(pet.id)"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{pet.name}} | Age: {{pet.age}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{pet.speciesName}} - {{pet.breedName}}</li>
        <li class="list-group-item">Hair: {{pet.hair}}</li>
        <li class="list-group-item">Body: {{pet.size}}</li>
        <li class="list-group-item">Movement need: {{pet.movement}}</li>
        <li class="list-group-item">Location: {{pet.cityName}}, {{pet.countryName}}</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-primary btn-floating" (click)="navToPetPic(pet.id)" mdbRipple [rippleUnbound]="true" rippleColor="dark" style="background: rgb(77, 77, 77); margin-right: 10px " role="button" ><i class="fas fa-image"></i></a>
        <a class="btn btn-primary btn-floating"  (click)="deletePet(pet.id)"  mdbRipple [rippleUnbound]="true" rippleColor="dark" style="background: rgb(77, 77, 77); margin-right: 10px " role="button" ><i class="fas fa-trash"></i></a>

      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<app-footer></app-footer>
