<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Petadopt</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="inlineNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarText"
      mdbCollapse
      #inlineNav="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/likes">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
          <div mdbDropdown class="dropdown">
            <a
              class="nav-link active"
              type="button"
              id="dropdownMenuButton"
              aria-expanded="false"
              mdbDropdownToggle
            >Profile</a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" routerLink="/profile">Modify profile</a></li>
              <li><a class="dropdown-item" routerLink="/mypets">My pets</a></li>
              <li><a class="dropdown-item" routerLink="/petregister">Register pet</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <a class="btn btn-primary btn-rounded logoutButton" routerLink="/petregister">Register pet</a>
      <a class="btn btn-primary btn-rounded logoutButton" (click)="logOut()" role="button">Log Out</a>
    </div>
  </div>
</nav>
