<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Petadopt</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="inlineNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarText"
      mdbCollapse
      #inlineNav="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/likes">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile</a>
        </li>
      </ul>
     
      <a class="btn btn-primary btn-rounded" style="background: linear-gradient(to right, #0081a7, #00afb9);" (click)="logOut()" role="button">Log Out</a>
    </div>
  </div>
</nav>