<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-dark">Magyar Bence | 2022 PTE-TTK Programtervező Informatikus | szakdolgozat </a>
    <a class="btn btn-primary btn-rounded" style="background-color: #333333; margin-left: 10px;" href="https://github.com/magyarb0616/Szakdolgozat"
      role="button"><i class="fab fa-github me-2"></i>Backend</a>
    <a class="btn btn-primary btn-rounded" style="background-color: #333333; margin-left: 10px;"
      href="https://github.com/magyarb0616/Szakdolgozat---Frontend" role="button"><i
        class="fab fa-github me-2"></i>Frontend</a>
  </div>
</footer>
