<app-navbar></app-navbar>
<br>

<div class="card-group" style="max-width:85%; margin:auto;">
<div class="card" style="width: 18rem; margin: 5px; border-radius: 0.5rem;" *ngFor="let pet of pets">
    <div class="bg-image hover-zoom"><img
      src="http://cdn.akc.org/content/article-body-image/keeshond_dog_pictures.jpg"
      class="card-img-top"
      alt="..."
    /></div>
    <div class="card-body">
      <h5 class="card-title">{{pet.name}} | Age: {{pet.age}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{pet.speciesName}} - {{pet.breedName}}</li>
      <li class="list-group-item">Hair: {{pet.hair}}</li>
      <li class="list-group-item">Body: {{pet.size}}</li>
      <li class="list-group-item">Movement need: {{pet.movement}}</li>
      <li class="list-group-item">Location: {{pet.cityName}}, {{pet.countryName}}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-primary btn-floating" style="background: red;" role="button" (click)="likePet(pet.id)"><i class="fas fa-heart"></i></a>
    </div>
    
  </div>
  

 
</div>

<app-footer></app-footer>
